html {
    font-family: 'Roboto Mono', monospace;
    background-color: #A0C3D2;
}

h1 {
    color: #EAE0DA;
    font: 'Roboto Mono';
    text-align: center;
    font-display: flex;
    font-size: 45px;
}

h2 {
    color: antiquewhite;
    font: 'Roboto Mono';
    text-align: center;
}

p {
    border-style: solid;
    padding: 20px;
    border-width: 2px;
    border-color: #EAE0DA;
    font-size:large;
    text-align: center;
}

.jamira {
    width: 30%;
    position: absolute;
    top: 47%;
    left: 35%;
}

.nav-area il a{
    color: #F7F5EB;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 16px;
    border-style:double;
    border-color: #F8F0C6;
}

h3,h4,h5,h6{
    color: #EAE0DA;
    font: 'Roboto Mono';
    font-display: flex;
    font-size: 20px;
}

.cris{
    margin: auto;
    display: block;
}

.pan-asia{
    margin: auto;
    display: block;
}

.school6{
    margin: auto;
    display: block;
}

.mareeruk{
    margin: auto;
    display: block;
}
